:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.85);
  background-color: #242424;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #383838;
  font-weight: bold;
}

header > a {
  color: #cecece;
  text-decoration: none;
  padding: 10px;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
